body {
    padding-top: 90px;
}

body > div.container {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}

.controls img {
    margin: 3px;
}

.controls img.selected {
    margin: 0;
    border: 3px yellow solid;
}