{% extends "base.html" %}
{% block content %}
{% if transactions %}
    <h2>Transaction History</h2>
<table class="table">
    <thead>
    <tr>
        <th>Buyer</th>
        <th>Reference</th>
        <th>Buyees</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.buyer.name }}</td>
        <td>{{ transaction.reference }}</td>
        <td>
            {% for buyee in transaction.buyees %}
            {{ buyee.name }}
            {% endfor %}
        </td>
        <td>&pound;{{ "{0:.2f}".format(transaction.amount) }}</td>
        <td>{{ transaction.date }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
            <a href="/">Back to home</a>
        </td>
    </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}
