{% extends "base.html" %}
{% block content %}
<ul class="row">
    {% for guy in indebted %}
        <li class="span3">
            <img src="{{ guy.image }}" alt="{{ guy.name }}"/>
            <h2>&pound;{{ "{0:.2f}".format(guy.balance) }}</h2>
        </li>
    {% endfor %}
</ul>

{% if transactions %}
    <h2>Transaction History</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Buyer</th>
                <th>Reference</th>
                <th>Buyees</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.buyer.name }}</td>
                    <td>{{ transaction.reference }}</td>
                    <td>
                        {% for buyee in transaction.buyees %}
                            {{ buyee.name }}
                        {% endfor %}
                    </td>
                    <td>&pound;{{ "{0:.2f}".format(transaction.amount) }}</td>
                    <td>{{ transaction.date.strftime('%d %B %Y') }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    <a href="/history">View all transactions</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endif %}


<form class="form-horizontal well" action="/add_transaction" method="POST">
    <h2>Add transaction</h2>
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="buyer">Buyer</label>
            <div class="controls">

                <div class="buyer">
                    {% for guy in indebted %}
                        <input class="hide" type="radio" name="buyer" value="{{ guy.key().id() }}"/>
                        <img src="{{ guy.image }}" alt="{{ guy.name }}"/>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="amount">Amount (&pound;)</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="amount" id="amount">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="reference">Reference</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="reference" id="reference">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="buyees">Buyees</label>
            <div class="controls">
                <div class="buyees">
                    {% for guy in indebted %}
                        <input class="hide" type="checkbox" name="buyees" value="{{ guy.key().id() }}"/>
                        <img src="{{ guy.image }}" alt="{{ guy.name }}"/>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
</form>


{% endblock %}
